/* Informações */
.informacoes-aluno{
    margin: auto;
    width: 70%;
}

.informacoes-aluno__linha p{
    font-size: 22px;
    color:var(--light-yellow);
    text-transform: uppercase;
}

.informacoes-aluno__linha,
.informacoes-aluno__linha > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.informacoes-aluno__linha > div{
    flex-direction: row;
    width: 10%;
    align-items: center;
}

/* Ranking */
.ranking__cabecalho th{
    color: #EEBB20;
    background-color: #ECF74E;
}

.ranking__premio td{
    padding: 20px 20px;
    text-align: left;
    text-transform: uppercase;
    color: var(--light-yellow);
}

.secao-ranking > div > p{
    margin-bottom: 60px;
    color: var(--light-yellow);
}

.ranking__premio-icone{
    border-radius:100px;
    border:4px solid var(--light-yellow);
}

.ranking__premio-icone--carrinho{
    background-image: url('../assets/icons/produtos/icone_carrinho.png');
}

.ranking__premio-icone--bola{
    background-image: url('../assets/icons/produtos/icone_bola.png');
}

.ranking__premio-icone--boneca{
    background-image: url('../assets/icons/produtos/icone_boneca.png');
}

.secao-ranking .botao-principal{
    background-color: var(--dark-yellow);
    color:var(--dark-purple);
}

.secao-ranking .botao-principal:hover{
    background-color: var(--light-yellow);
    color:var(--dark-purple);
}